html, body{
    box-sizing: border-box;
    background-color: silver;
}
.picChange{
    height:250px;
    width:220px;
    transform:rotate(20deg);
    
}
.picChange2{
    height:250px;
    width:200px;
    transform:rotate(-20deg);    
}
.picChange3{
    height:210px;
    width:240px;
    transform:rotate(20deg);
}
h2{
    margin-bottom:120px;
    margin-top:80px;
    text-align:center;
    color: rebeccapurple;
    font-weight: bold;
}